{% extends "base.html" %}
{% block title %}TOP{% endblock %}

{% block header%}
<h1>ユーザーページ</h1>
{% endblock %}

{% block content %}
<a href="/user">ユーザーページへ</a>
<br />
<a href="/post">ポストページへ</a>
{% endblock %}

{% block footer %}{% endblock %}
