{% extends "base.html" %}
{% block title %}TOP{% endblock %}

{% block header%}
<h1>ユーザーページ</h1>
{% endblock %}

{% block content %}
<a href="/user">ユーザーページへ</a>
<br />
<a href="/post">ポストページへ</a>
<br />
<a href="/for_list">（動的）商品一覧画面へ</a>
<br />
<a href="/if_else">条件分岐1・2</a>
<br />
<a href="/filter">フィルター：文全体</a>
<br />
<a href="/filter_var">フィルター：変数</a>
<br />
<a href="/custom_filter">カスタムフィルター</a>
<br />
<a href="/xxxx">エラーハンドリング</a>
<br />
<a href="/abort">エラーハンドリング（abort関数使用）</a>
{% endblock %}

