{% extends "base.html" %}
{% block title%}User{% endblock %}

{% block header%}
<h1>ポストページ</h1>
{% endblock %}

{% block content%}
<p>{{ show_id }}ページ目</p>
{% endblock %}

{% block footer %}
 {{super()}} <!--super()で親テンプレートの内容を引き継いで表示できる-->
{% endblock %}
